<nav class="navigation">
    <a href="home" class="logo">
        <span>Agri</span>Tech
    </a>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="nav-icon"></span>
        </label>
    <ul class="menu">
        <li><a href="home" class="active">Home</a></li>
        <li><a href="#">Marketplace</a></li>
        <li><a href="#">Boutique intrants</a></li>
        <li><a href="#">Formation</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="login">Connexion</a></li>
    </ul>
    <div class="right-nav">
        <a href="#" class="like">
            <i class="bi bi-heart"></i>
            <span>0</span>
        </a>
        <a href="panier" class="cart">
            <i class="bi bi-cart4"></i>            
            <span>0</span>
        </a>
    </div>
</nav>
