<section id="search-banner" >
    <!--bg--------->
    <img alt="bg" class="bg-1" src="images/bg-1.png">
    <img alt="bg-2" class="bg-2" src="images/bg-2.png">
    <!--text------->
    <div class="search-banner-text">
        <h1>Order Your daily Groceries</h1>
        <strong>#Free Delivery</strong>
        <!--search-box------>
        <form action="" class="search-box">
            <!--icon------>
            <i class="fas fa-search"></i>
            <!--input----->
            <input type="text" class="search-input" placeholder="Search your daily groceries" name="search" required>
            <!--btn------->
            <input type="submit" class="search-btn" value="Search">
        </form>
    </div>
</section>
<section id="popular-product">
    <div class="product-heading">
        <h3>Popular Product</h3>
        <span>All</span>
    </div>
    <div class="product-container">
        <div class="product-box">
            <img alt="apple" src="images/apple.png">
            <strong>Apple</strong>
            <span class="quantity">1 KG</span>
            <span class="price">2$</span>
            <!--cart-btn------->
            <a href="panier" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="panier" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src="images/chili.png">
            <strong>Chili</strong>
            <span class="quantity">1 KG</span>
            <span class="price">3$</span>
            <!--cart-btn------->
            <a href="panier" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="panier" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src="images/onion.png">
            <strong>Onion</strong>
            <span class="quantity">1 KG</span>
            <span class="price">1$</span>
            <!--cart-btn------->
            <a href="panier" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src="images/patato.png">
            <strong>Patato</strong>
            <span class="quantity">1 KG</span>
            <span class="price">2.2$</span>
            <!--cart-btn------->
            <a href="panier" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src="images/garlic.png">
            <strong>Garlic</strong>
            <span class="quantity">1 KG</span>
            <span class="price">3$</span>
            <!--cart-btn------->
            <a href="panier" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
        <!--box---------->
        <div class="product-box">
            <img alt="apple" src="images/tamato.png">
            <strong>Tamato</strong>
            <span class="quantity">1 KG</span>
            <span class="price">1.4$</span>
            <!--cart-btn------->
            <a href="panier" class="cart-btn">
                <i class="fas fa-shopping-bag"></i> Add Cart
            </a>
            <!--like-btn------->
            <a href="#" class="like-btn">
                <i class="far fa-heart"></i>
            </a>
        </div>
    </div>
</section>



<!--==Clients===============================================-->
<section id="clients">
    <!--heading---------------->
    <div class="client-heading">
        <h3>What Our Client's Say</h3>
    </div>
    <!--box-container---------->
    <div class="client-box-container">
        <!--box------------->
        <div class="client-box">
            <!--==profile===-->
            <div class="client-profile">
                <!--img--->
                <img alt="client" src="images/client-1.jpg">
                <!--text-->
                <div class="profile-text">
                    <strong>James Mcavoy</strong>
                    <span>CEO</span>
                </div>
            </div>
            <!--==Rating======-->
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <!--==comments===-->
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ea id, itaque architecto atque mollitia aperiam voluptatem consequatur incidunt sed placeat, harum recusandae quaerat at hic labore eius laborum quas!</p>
        </div>
        <!--box------------->
        <div class="client-box">
            <!--==profile===-->
            <div class="client-profile">
                <!--img--->
                <img alt="client" src="images/client-2.jpg">
                <!--text-->
                <div class="profile-text">
                    <strong>Adward Mcavoy</strong>
                    <span>Software Developer</span>
                </div>
            </div>
            <!--==Rating======-->
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <!--==comments===-->
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ea id, itaque architecto atque mollitia aperiam voluptatem consequatur incidunt sed placeat, harum recusandae quaerat at hic labore eius laborum quas!</p>
        </div>
        <!--box------------->
        <div class="client-box">
            <!--==profile===-->
            <div class="client-profile">
                <!--img--->
                <img alt="client" src="images/client-3.jpg">
                <!--text-->
                <div class="profile-text">
                    <strong>Ava Alex</strong>
                    <span>Marketer</span>
                </div>
            </div>
            <!--==Rating======-->
            <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <!--==comments===-->
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat ea id, itaque architecto atque mollitia aperiam voluptatem consequatur incidunt sed placeat, harum recusandae quaerat at hic labore eius laborum quas!</p>
        </div>
    </div>
</section>
<!--client-section-end---------->
<!--==Partnre-logo================================-->
<section id="partner">
    <!--heading------------>
    <div class="partner-heading">
        <h3>Our Trusted Partner</h3>
    </div>
    <!--logo-container----->
    <div class="logo-container">
        <img alt="logo" src="images/logo-1.png">
        <img alt="logo" src="images/logo-2.png">
        <img alt="logo" src="images/logo-3.png">
        <img alt="logo" src="images/logo-4.png">
    </div>
</section>
<!--logo-section-end--------------------->
<!--==download-app====================================-->
<section id="download-app">
    <!--img----------------------->
    <div class="app-img">
        <img alt="app" src="images/agritech.png">
    </div>
    <!--text---------------------->
    <div class="download-app-text">
        <strong>Download App</strong>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id officiis, ratione, non doloribus similique nam aliquam doloremque, ipsa neque voluptas at recusandae est cumque ipsum. Vel sint libero odit placeat?</p>
        <!--btns------->
        <div class="download-btns">
            <a href="#"><img alt="" src="images/appstore-btn.png"></a>
            <a href="#"><img alt="" src="images/googleplay-btn.png"></a>
        </div>
    </div>
</section>
<!--download-app-section-end------------------------->
<!--==Footer=============================================-->
